<%= form_with(url:new_summary_path, local: true, method: :get) do |book| %>

  <div class="field">
    <%= book.label :title %>
    <%= book.text_field :title %>
  </div>


  <div class="actions">
    <%= book.submit  "検索"%>
  </div>
<% end %>

<%= form_with(model: summary, local: true) do |form| %>
  <% if summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(summary.errors.count, "error") %> prohibited this summary from being saved:</h2>

      <ul>
      <% summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <tbody>
    <% @searches.each do |search| %>

      <tr>
        <td><img src="<%= search['mediumImageUrl'] %>"></td>
        <td><a href="<%= search['itemUrl'] %>" target="_blank"><%= search['title'] %></a></td>
        <td><%= search['publisherName'] %></td>
      </tr>
    <% end %>

  </tbody>

  <% if @searches.present? %>

    <p><%= paginate @searches %></p>
  <% end %>


  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>