<%= form_with(model: @summary, local: true) do |form| %>
  <% if @summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summary.errors.count, "error") %> prohibited this @summary from being saved:</h2>

      <ul>
      <% @summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="summary-create-table">
  <tr class="book-detail">
    <td class="book-image">
      <%= image_tag(@book.image_url)%>
    </td>
    <td class="book-desc">
      <p>
        <span class="book-title"><%= t('view.title') %>　</span>
        <span class="book-ex"><%= @book.title%></span>
      </p>
      <p>
        <span class="book-title"><%= t('view.author') %>　　　</span>
        <span class="book-ex"><%= @book.author%></span>
      </p>
      <p>
        <span class="book-title"><%= t('view.publisher') %>　　</span>
        <span class="book-ex"><%= @book.publisher%></span>
      </p>
      <p class="create-category">
        <span class="book-title"><%= t('view.genre') %>　</span>
        <span>
          <%= form.select :category, Summary.categories_i18n.invert, include_blank: t('view.please_select') %>
        </span>
      </p>
    </td>
  </tr>
  </table>

  <hr>

  <div class="container  summary-create-content">
    <div>
      <%= form.rich_text_area :content %>
    </div>

    <div class="center">
      <%= form.submit t('view.update'), class:"search-submit" %>
    </div>
  </div>
<% end %>