<h1>Articles</h1>

<table>
  <% @summaries.each do |summary| %>
      <td>
        <p><%= summary.book.title %></p>
        <p><%= image_tag(summary.book.image_url)%></p>
        <p><%= link_to 'Show', summary %></p>
      </td>
  <% end %>
</table>

<p><%= paginate @summaries %></p>

<br>

<%= link_to '要約を書く', new_book_path %>
<%= link_to 'book 一覧', books_path %>