<table>
  <tr>
    <td><%= @summary.book.title %></td>
  </tr>
  <tr>
    <td><%= image_tag(@summary.book.image_url)%></td>
  </tr>
  <tr>
    <td><%= @summary.book.author %></td>
  </tr>
  <tr>
    <td><%= @summary.book.publisher %></td>
  </tr>
  <tr>
    <td><%= @summary.content %></td>
  </tr>
</table>

<% unless @summary.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(summary_id: @summary.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_summary_path(@summary) %>
<%= link_to 'Destroy', @summary, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', summaries_path %>