<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<table>
  <tr>
    <td><%= link_to @summary.book.title, book_path(@summary.book) %></td>
  </tr>
  <tr>
    <td><%= image_tag(@summary.book.image_url)%></td>
  </tr>
  <tr>
    <td><%= @summary.book.author %></td>
  </tr>
  <tr>
    <td><%= @summary.book.publisher %></td>
  </tr>
  <tr>
    <td><%= t('view.category') %></td>
    <td><%= @summary.category_i18n %></td>
  </tr>
  <tr>
    <td><hr></td>
  </tr>
  <tr>
    <td><%= link_to @summary.user.name, user_path(@summary.user) %></td>
  </tr>
  <tr>
    <td><%= @summary.content %></td>
  </tr>
  <tr>
    <td><hr></td>
  </tr>
</table>

<% unless @summary.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(summary_id: @summary.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br>
<br>
<br>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, summary: @summary } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, summary: @summary } %>

<%= link_to 'Edit', edit_summary_path(@summary) %>
<%= link_to 'Destroy', @summary, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', summaries_path %>