<div class="container center summary-show-content">
  <table class="book-show-table">
    <tr class="book-detail">
      <td class="book-image">
        <%= link_to image_tag(@summary.book.image_url), book_path(@summary.book)%>
      </td>
      <td class="book-desc">
        <p>
          <span class="book-title"><%= t('view.title') %>　</span>
          <span class="book-ex"><%= link_to @summary.book.title, book_path(@summary.book) %></span>
        </p>
        <p>
          <span class="book-title"><%= t('view.genre') %>　</span>
          <span class="book-ex">
              <%= @summary.category_i18n %>
          </span>
        </p>
        <p>
          <span class="book-title"><%= t('view.author') %>　　　</span>
          <span class="book-ex"><%= @summary.book.author %></span>
        </p>
        <p>
          <span class="book-title"><%= t('view.publisher') %>　　</span>
          <span class="book-ex"><%= @summary.book.publisher %></span>
        </p>
        <p>
          <span class="book-title"><%= t('view.summary_user') %>　　</span>
          <span class="book-ex medium-icon">
            <% if @summary.user.icon? %>
              <%= image_tag(@summary.user.icon.url, :size =>'30x30')  %>
            <% else %>
              <img src="/assets/favicon.ico" class="icon" width="30" height="30" >
            <% end %>
            <%= link_to @summary.user.name, user_path(@summary.user) %>
          </span>
        </p>
      </td>
    </tr>
  </table>

  <table class="center text-movie">
    <tr class="tab book-tab">
      <td class="select first-tab">
        <h1 class="book-movie"><%= fa_icon("book") %></h1>
        <p><%= t('view.summary') %></p>
      </td>
      <td>
        <h1 class="book-movie"><%= fa_icon("comment-dots") %></h1>
        <p><%= t('view.comment') %></p>
      </td>
    </tr>
  </table>

  <div class="content">
    <div class="summary">
      <div class="summary-sentence">
        <p class="trix"><%= sanitize @summary.content %></p>
        <div class="summary-time">
          <p><%= @summary.created_at.strftime('%Y年 %m月 %d日 %k時 %M分') %></p>
        </div>
      </div>
      <p type="button" class="summary-favorite" data-toggle="modal" data-target=".bs-example-modal-m">
        <%= icon('far', 'star') %>　<%= @summary.favorites.count %>
      </p>
      <% if @summary.favorites.count > 0%>
        <div class="modal fade bs-example-modal-m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm size" role="document">
            <div class="modal-content">
              <h3 class="modal-favorite"><%= t('view.favorite') %></h3>
              <% @summary.favorite_users.each do |favorite_user| %>
                <div class="block follow-block">
                  <div class="block__avator__follow  favorite-icon">
                    <% if favorite_user.icon? %>
                      <%= image_tag(favorite_user.icon.url, :size =>'60x60')  %>
                    <% else %>
                      <img src="/assets/favicon.ico" class="icon" width="60" height="60" >
                    <% end %>
                  </div>
                  <div class="block__text__favorite">
                    <p class="user-name"><%= link_to "#{favorite_user.name}", user_path(favorite_user) %></p>
                    <p class="user-profile follow-profile"><%= favorite_user.profile %></p>
                  </div>
                  <div class="block__control__follow">
                  <% if current_user %>
                    <% if current_user != favorite_user%>
                      <div id="follow_form_<%= favorite_user.id %>">
                        <% unless current_user.following?(favorite_user) %>
                          <%= form_with(model: current_user.active_relationships.build(followed_id: favorite_user.id)) do |f| %>
                            <%= f.hidden_field :followed_id %>
                            <%= f.submit t('view.follow'), class: "follow-btn" %>
                          <% end %>
                        <% else %>
                          <%= form_with(model: current_user.active_relationships.find_by(followed_id: favorite_user.id), method: :delete ) do |f| %>
                            <%= f.submit t('view.not_follow'), class: "follow-btn" %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user %>
        <% if @summary.user_id == current_user.id%>
          <div class="right-review">
            <%= link_to fa_icon("edit 2x"), edit_summary_path(@summary) %>　
            <%= link_to fa_icon("trash-alt 2x"), @summary, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
        <% if @favorite.present? %>
          <%= link_to t('view.not_favorite'), favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to t('view.favorite'), favorites_path(summary_id: @summary.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

    <div class="summary hide">
      <% if current_user %>
          <%= render partial: 'comments/form', locals: { comment: @comment, summary: @summary } %>
          <p class="summary-favorite"><%= t('view.comment') %>　<%= @summary.comments.count %></p>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, summary: @summary } %>
        </div>
      <% else %>
        <div class="center">
          <p class="login-message"><%= t('view.login_message') %></p>
          <button  type="button" class="btn btn-danger login-btn">
          <p>
            <%= link_to fa_icon("sign-in-alt 3x"), new_user_session_path, class: "login-icon"%>
            <%= link_to t('view.to_login_screen'), new_user_session_path, class: "login"%>
          </p>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>