<div class="container center summary-show-content">
  <table class="book-show-table">
    <tr class="book-detail">
      <td class="book-image">
        <%= link_to image_tag(@summary.book.image_url), book_path(@summary.book)%>
      </td>
      <td class="book-desc">
        <p>
          <span class="book-title"><%= t('view.title') %>　</span>
          <span class="book-ex"><%= link_to @summary.book.title, book_path(@summary.book) %></span>
        </p>
        <p>
          <span class="book-title"><%= t('view.genre') %>　</span>
          <span class="book-ex">
              <%= @summary.category_i18n %>
          </span>
        </p>
        <p>
          <span class="book-title"><%= t('view.author') %>　　　</span>
          <span class="book-ex"><%= @summary.book.author %></span>
        </p>
        <p>
          <span class="book-title"><%= t('view.publisher') %>　　</span>
          <span class="book-ex"><%= @summary.book.publisher %></span>
        </p>
        <p>
          <span class="book-title"><%= t('view.summary_user') %>　　</span>
          <span class="book-ex medium-icon">
            <% if @summary.user.icon? %>
              <%= image_tag(@summary.user.icon.url, :size =>'30x30')  %>
            <% else %>
              <img src="/assets/favicon.ico" class="icon" width="30" height="30" >
            <% end %>
            <%= link_to @summary.user.name, user_path(@summary.user) %>
          </span>
        </p>
      </td>
    </tr>
  </table>

  <table class="center text-movie">
    <tr class="tab book-tab">
      <td class="select first-tab">
        <h1 class="book-movie"><%= fa_icon("book") %></h1>
        <p><%= t('view.summary') %></p>
      </td>
      <td>
        <h1 class="book-movie"><%= fa_icon("comment-dots") %></h1>
        <p><%= t('view.comment') %></p>
      </td>
    </tr>
  </table>

  <div class="content">
    <div class="summary">
      <div class="summary-sentence">
        <p class="summary-favorite"><%= icon('far', 'star') %>　<%= @summary.favorites.count %></p>
        <p><%= @summary.content %></p>
        <div class="summary-time">
        <p><%= @summary.created_at.strftime('%Y年 %m月 %d日 %k時 %M分') %></p>
        </div>
      </div>
      <% if current_user %>
        <% if @summary.user_id == current_user.id%>
          <div class="right-review">
            <%= link_to fa_icon("edit 2x"), edit_summary_path(@summary) %>　
            <%= link_to fa_icon("trash-alt 2x"), @summary, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
        <% unless @summary.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to t('view.not_favorite'), favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to t('view.favorite'), favorites_path(summary_id: @summary.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="summary hide">
      <% if current_user %>
          <p class="summary-favorite">コメント　<%= @summary.comments.count %></p>
          <%= render partial: 'comments/form', locals: { comment: @comment, summary: @summary } %>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, summary: @summary } %>
        </div>
      <% else %>
        <div class="center">
          <p class="login-message"><%= t('view.login_message') %></p>
          <button  type="button" class="btn btn-danger login-btn">
          <p>
            <%= link_to fa_icon("sign-in-alt 3x"), new_user_session_path, class: "login-icon"%>
            <%= link_to t('view.to_login_screen'), new_user_session_path, class: "login"%>
          </p>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>