<%= form_with(model: [summary, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="edit-review">
    <%= form.text_area :content, id: "comment_content_#{summary.id}", class: 'form-control' %>
  </div>
  <div class="actions">
    <p><%= form.submit value=t('view.update'), class: 'comment-submit' %></p>
  </div>
<% end %>