<div class="container center sign-form">
<h2><%= t('.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table class="sign-table">
    <tr class="field">
      <td class="td-label"><%= f.label :email %><br /></td>
      <td class="td-sign"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
    </tr>
  </table>

    <p><%= f.submit t('.send_me_reset_password_instructions'), class: "sign-up-submit forget-submit"%></p>
<% end %>

<%= render "devise/shared/links" %>
</div>
