<div class="container center book-form">

  <%= form_tag(new_book_path, method: :get, class: 'form-inline') do %>
    <%= text_field_tag :book_title, @title, class: 'form-control', placeholder:t('view.summary_title'), size: 40 %>
    <%= submit_tag t('view.search_summary'), class: 'btn'%>
  <% end %>

  <% if @books.present? %>
    <div class="book-table">
      <% @books.each do |book| %>
      <div class="book-content">
        <p><%= image_tag(book.image_url) %></p>
        <p><%= book.title %></p>
        <%= form_tag(books_path) do %>
          <%= hidden_field_tag :isbn, book.isbn %>
          <%= submit_tag 'save', value: t('view.summary') %>
          <%= submit_tag 'save', value: t('view.memo') %>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>

  <p><%= paginate @books %></p>

</div>