<table>
  <tr>
    <td><%= @book.title%></td>
  </tr>
  <tr>
    <td><%= image_tag(@book.image_url)%></td>
  </tr>
  <tr>
    <td><%= @book.author%></td>
  </tr>
  <tr>
    <td><%= @book.publisher%></td>
  </tr>
</table>

<%= link_to 'book search', new_book_path %>
<%= link_to 'Back', summaries_path %>