<%= form_with(model: [book, review]) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="review-text-area">
    <p><%= form.text_area :content, class: 'form-control', placeholder:'レビューを書く' %></p>
  </div>
  <div class="actions right-submit">
    <p class="review-submit"><%= form.submit value="投稿" %></p>
  </div>
<% end %>