<table>
  <tr>
    <td><%= @memo.book.title %></td>
  </tr>
  <tr>
    <td><%= image_tag(@memo.book.image_url)%></td>
  </tr>
  <tr>
    <td><%= @memo.book.author %></td>
  </tr>
  <tr>
    <td><%= @memo.book.publisher %></td>
  </tr>
  <tr>
    <td><hr></td>
  </tr>
  <tr>
    <td><%= @memo.content %></td>
  </tr>
  <tr>
    <td><%= @memo.action_plan %></td>
  </tr>
  <tr>
    <td><hr></td>
  </tr>
  <tr>
    <% if @memo.email_send == true %>
      <td><p>通知オン</p></td>
    <% else %>
      <td><p>通知オフ</p></td>
    <% end %>
  </tr>
</table>

<%= link_to 'Edit', edit_memo_path(@memo) %>
<%= link_to 'Destroy', @memo, method: :delete, data: { confirm: 'Are you sure?' } %>