<!DOCTYPE html>
<html>
  <head>
    <title>ReaDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>


  <body>
  <div id="wrapper">
  <header class="clearfix">
    <table class="center">
      <td class="brand"><%= link_to image_tag("favicon.ico", class: "brand-image"), summaries_path %></td>
      <td class="brand-name"><%= link_to "ReaDo", summaries_path %></td>
      <% if user_signed_in? %>
        <td class="header-content"><%= link_to fa_icon("home 2x"), summaries_path %><p class="header-name">ホーム</p></td>
        <td type="button" class="search header-content" data-toggle="modal" data-target=".bs-example-modal-sm"><%= fa_icon("search 2x") %><p class="header-name search-name">検索</p></td>
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm size" role="document">
              <div class="modal-content center">
                <%= form_with( url:summaries_path, local: true, method: :get ) do |form| %>
                  <p><%= form.label :title, "タイトル", class: "label-title" %></p>
                  <p><%= form.text_field :title, value: params[:title], class: 'search-title' %></p>
                  <p><%= form.label :author, "著者名", class: "label-author" %></p>
                  <p><%= form.text_field :author, value: params[:author], class: 'search-author' %></p>
                  <p><%= form.label :category, "カテゴリー", class: "label-category" %></p>
                  <p class="search-control"><%= form.select :category, Summary.categories_i18n.invert, selected: params[:category], include_blank: true %></p>
                  <p><%= form.label :follow, "フォロー", class: "label-follow" %></p>
                    <%= form.hidden_field :follow, value: false %>
                  <p><%= form.check_box :follow, { checked: @checked_follow }, true, false %></p>
                  <p><%= form.submit "検索", class:"search-submit" %></p>
                <% end %>
              </div>
            </div>
          </div>

        <td class="header-content"><%= link_to fa_icon("edit 2x"), new_book_path %><p class="header-name">投稿</p></td>
        <td class="header-content"><%= link_to fa_icon("users 2x"), users_path  %><p class="header-name">読書家</p></td>
        <td class="header-content"><%= link_to fa_icon("user 2x"), user_path(current_user.id) %><p class="header-name">プロフィール</p></td>
        <td type="button" class="search header-content" data-toggle="modal" data-target=".bs-example-modal-lg"><%= fa_icon("bell 2x") %><p class="header-name search-name">通知</p></td>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg size" role="document">
            <div class="modal-content center">
              <p class="header-notice">この機能はまだ使えません</p>
            </div>
          </div>
        </div>
        <td class="header-content"><%= link_to fa_icon("sign-out-alt 2x"), destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %><p class="header-name">ログアウト</p></td>
      <% else %>
        <td class="header-content"><%= link_to fa_icon("home 2x"), summaries_path %><p class="header-name">ホーム</p></td>
        <td type="button" class="search header-content" data-toggle="modal" data-target=".bs-example-modal-sm"><%= fa_icon("search 2x") %><p class="header-name search-name">検索</p></td>
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm size" role="document">
              <div class="modal-content center">
                <p class="login-message">ログインしてください</p>
                <button  type="button" class="btn btn-danger login-btn">
                <p>
                  <%= link_to fa_icon("sign-in-alt 3x"), new_user_session_path, class: "login-icon"%>
                  <%= link_to "ログイン画面へ", new_user_session_path, class: "login"%>
                </p>
                </button>
              </div>
            </div>
          </div>
        <td type="button" class="search header-content" data-toggle="modal" data-target=".bs-example-modal-sm"><%= fa_icon("edit 2x") %><p class="header-name search-name">投稿</p></td>
        <td class="header-content"><%= link_to fa_icon("user-plus 2x"), new_user_registration_path %><p class="header-name">新規登録</p></td>
        <td class="header-content"><%= link_to fa_icon("sign-in-alt 2x"), new_user_session_path %><p class="header-name">ログイン</p></td>
      <% end %>
    </table>
  </header>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
      <div class="footer-padding">
        <table class="footer-table">
          <td class="image-right"><%= link_to image_tag("favicon.ico", class: "footer-brand-image"), summaries_path %></td>
          <td class="footer-brand-name"><%= link_to "ReaDo", summaries_path %></td>
        </table>
      </div>
    </footer>
  </div>
  </body>

</html>
